build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
forge_client.launch
forge_server.launch
logs/latest.log

common/src/main/java/net/creeperhost/minetogether/Test.java

logs/
