# Exclude everything
/*

# Include important folders.
!common/
!fabric/
!forge/
!neoforge/

# Git files
!.github/
!.gitignore

# Gradle files
!gradle/
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle

# Other files
!LICENSE
!README.mc
