/.gradle
/build
/out
/run
/.idea
/*.iml
/*.ipr
/*.iws
/lib
/classes
/1.7.10/build
/1.7.10/out
/1.7.10/run
/1.7.10/*.iml
/1.7.10/.gradle
/1.10.2/build
/1.10.2/out
/1.10.2/run
/1.10.2/*.iml
/1.10.2/.gradle
/1.12.2/build
/1.12.2/out
/1.12.2/run
/1.12.2/*.iml
/1.12.2/.gradle
logs/
